@media screen and (max-width:1500px){
    #clg-name{
        font-size:33px;
        text-align: center;
    }
    #clg-recognized{
        font-size: 23px;
        text-align: center;
    }
}

@media  screen and (max-width:900px) {
    #clg-name{
        font-size: 27px;
        text-align: center;
    }
    #clg-recognized{
        font-size: 18px;
        text-align: center;
    }
            
}

@media screen and (max-width:650px){
    #clg-name{
        font-size: 20px;
        text-align: center;
    }
    #clg-recognized{
        font-size: 13px;
        text-align: center;
    }
            
}

.nav-link:hover{
    color: gray !important;
}

